.btn {
    background: var(--color-bluish);
    color: #eee;
    text-decoration: none;
    padding: 1.5rem 2rem;
    border-radius: 2rem;

    &--orange {
        background: #F4A259;
    }

    &--large {
        padding: 1rem 1.8rem;
        font-size: 1.4rem;

        @media (min-width:$breakpoint-small) {
            padding: 1.6rem 2.2rem;
        }
    }
}