.site-header {
    background: var(--color-blue);
    height: 8vh;

    @include respond(medium) {
        height: 10vh
    }
}

.header--inner {
    height: 80%;

    @include respond(medium) {
        display: flex;
        margin: 0 10vw;
        align-items: center;
    }
}

.background {
    background: #222;
    display: grid;
    transition: background .4s ease-in-out;
    height: 70vh;

    @include respond(small) {
        height: 60vh;
    }
}


.site-header__menu-content {
    opacity: 0;
    transition: opacity .4s ease-in;

    @include respond(medium) {
        opacity: 1;
        flex: 1;
        display: block;
    }
}


.nav-list {


    &>li {
        list-style: none;
        padding: 3.5rem 0;

        @include respond(medium) {
            margin-bottom: 0;
        }

        &>a {
            color: #eee;
            text-decoration: none;
            font-size: 1.4rem;
            text-transform: uppercase;
        }
    }

    @include respond(medium) {
        display: flex;
        width: 60vw;
        justify-content: space-between;
        margin-left: 4rem;

    }

    @include respond(large) {
        width: 45vw;
        font-size: 1.6rem;
    }

}

.open {
    opacity: 1;
    display: grid;
    place-items: center;
    width: 100vw;
    margin-bottom: 10rem;
}


.header-logo {
    display: inline-block;
    height: 5.5vh;

    @include respond(medium) {
        display: inline-block;
        width: 12rem;
        height: auto;
        flex: 1;
    }
}


.logo {

    background: var(--color-bluish);
    padding: 1rem;


    @include respond(large) {
        padding: 2em;
    }

}


.hamburger {
    top: 3rem;
    right: 3rem;
    position: absolute;
    cursor: pointer;
    height: 4rem;
    width: 4rem;

    @include respond(small) {
        top: 0;
    }

    &::before {
        position: absolute;
        content: "";
        display: block;
        height: 2px;
        width: 4rem;
        background: #eee;
        transition: all .4s ease-in-out;

    }

    &__middle {
        position: absolute;
        height: 2px;
        background: #eee;
        border-radius: 10%;
        width: 3rem;
        transition: all .4s ease-in-out;
        top: 1.5rem;
        transform-origin: 0 50%;
    }

    &::after {
        content: "";
        display: block;
        height: 2px;
        border-radius: 10%;
        width: 2rem;
        position: absolute;
        background: #EEE;
        transition: all .4s ease-in-out;
        top: 3rem;

    }

    @include respond(small) {
        top: 3rem;
    }

    @include respond(medium) {
        display: none;
    }


}

.hamburger.close {
    &::before {

        transform: rotate(45deg);
        transform-origin: 0 0;
    }

    .hamburger__middle {
        opacity: 0;
        width: 0;
    }


    &::after {
        transform: rotate(-45deg) scaleX(2);
        transform-origin: 0 100%;
    }


}