#our-beginning {
    color: #333;
    background: #BFD1E5;
    padding: 0rem 2rem;
    display: block;

    @include respond(small) {
        padding: 10rem 2rem;
    }

    @media (min-width: $breakpoint-small) {
        display: grid;
        grid-template-columns: 1fr repeat(4, minmax(10rem, 1fr)) 1fr;
        grid-template-rows: repeat (4, 1fr);
        gap: 8rem 0;

    }
}

.main__header--container {
    grid-column: 2/6;
    grid-row: 1/2;

}

.subtitle {
    font-size: 2.2rem;


    @media (min-width: $breakpoint-small) {
        font-size: 2.8rem;
    }


    @media (min-width: $breakpoint-large) {
        font-size: 3.6rem;
    }

}

.main__subheader {
    font-weight: 300;
    font-size: 1.8rem;
    margin-bottom: 0;

    @media (min-width: $breakpoint-small) {
        font-size: 2.4rem;
    }

    @media (min-width: $breakpoint-large) {
        font-size: 3rem;
    }

}

.main__image--1 {
    display: block;
    margin-bottom: 2rem;

    @include respond(small) {
        grid-column: 2/6;
        grid-row: 2/3;
        margin: 0 auto;
        grid-column: 2/6;
        object-fit: cover;
        box-shadow: 15px 18px #EEF5DB;
    }
}

.main__image--2 {
    grid-column: 3/6;
    grid-row: 3/4;
    transform: translateX(-5rem);


    @include respond(small) {
        box-shadow: 15px 20px 0px 0px #6D9DC5;
    }

    @include respond(large) {
        grid-column: 2/3;
        box-shadow: 15px 20px 0px 0px #FE621D;
    }
}

.main-text__wrapper {
    grid-column: 3/6;
    grid-row: 4/5;
    margin: 0 auto;
    max-width: 85%;

    @include respond(medium) {
        max-width: 90%;
    }

    @include respond(large) {
        grid-row: 3/5;
    }

    &>h2 {

        @include respond(medium) {
            margin-top: 0;
        }
    }

    &--inner {
        &>p {
            font-size: 1.6rem;
        }
    }
}