#our-beginning {

    color: #333;
    background: #BFD1E5;
    padding: 16rem 0;

    display: block;

    @media (min-width: $breakpoint-medium) {
        display: grid;
        grid-template-columns: 1fr repeat(4, minmax(10rem, 1fr)) 1fr;
        grid-template-rows: repeat (4, 1fr);
        gap: 4rem 0;
        clip-path: polygon(0 0, 100% 11%, 100% 100%, 0 100%);

    }
}

.main__header--container {
    grid-column: 2/6;
    grid-row: 1/2;
    text-align: center;
}

.subtitle {
    font-size: 2.2rem;


    @media (min-width: $breakpoint-small) {
        font-size: 3.2rem;
    }


    @media (min-width: $breakpoint-large) {
        font-size: 4rem;
    }

}

.main__subheader {
    font-size: 1.8rem;


    @media (min-width: $breakpoint-small) {
        font-size: 2.8rem;
    }


    @media (min-width: $breakpoint-large) {
        font-size: 3.4rem;
    }

}

.main__image--1 {
    display: block;
    width: 100%;
    margin-bottom: 2rem;

    @include respond(small) {
        grid-column: 2/6;
        grid-row: 2/3;
        margin: 0 auto;
        grid-column: 2/6;
        object-fit: cover;
        box-shadow: 15px 18px #EEF5DB;
    }
}




.main__image--2 {
    grid-column: 2/3;
    grid-row: 3/4;


    @media (min-width: $breakpoint-medium) {

        grid-column: 2/3;
        box-shadow: 15px 20px 0px 0px #D8BFAA;
    }
}

.main-text__wrapper {
    grid-column: 3/6;
    grid-row: 3/5;
    margin: 0 auto;
    max-width: 65%;

    &--inner {
        &>p {
            font-size: 1.8rem;
        }
    }
}